# Sample .travis.yml for R projects from https://github.com/craigcitro/r-travis
language: r
sudo: required
warnings_are_errors: true

env:
 global:
   - CRAN: http://cran.rstudio.com

r_packages:
  - covr

after_success:
  - Rscript -e 'covr::codecov()'
