S3method(format,expectation)
S3method(print,expectation)
export(MinimalReporter)
export(StopReporter)
export(SummaryReporter)
export(TapReporter)
export(auto_test)
export(auto_test_package)
export(colourise)
export(context)
export(equals)
export(expect_equal)
export(expect_equivalent)
export(expect_error)
export(expect_false)
export(expect_identical)
export(expect_is)
export(expect_match)
export(expect_message)
export(expect_output)
export(expect_that)
export(expect_true)
export(expect_warning)
export(expectation)
export(fail)
export(gives_warning)
export(is_a)
export(is_equivalent_to)
export(is_false)
export(is_identical_to)
export(is_true)
export(library_if_available)
export(make_expectation)
export(matches)
export(prints_text)
export(shows_message)
export(source_dir)
export(takes_less_than)
export(test_dir)
export(test_file)
export(test_package)
export(test_that)
export(throws_error)
export(watch)
exportClasses(MinimalReporter)
exportClasses(Reporter)
exportClasses(StopReporter)
exportClasses(SummaryReporter)
exportClasses(TapReporter)
import(stringr)
importFrom(evaluate,create_traceback)
importFrom(evaluate,evaluate)
importFrom(evaluate,is.error)
importFrom(evaluate,is.message)
importFrom(evaluate,is.warning)
importFrom(evaluate,try_capture_stack)
