export(auto_test)
export(auto_test_package)
export(colourise)
export(context)
export(expect_that)
S3method(print, expectation)
S3method(format, expectation)
export(is_a)
export(is_true)
export(is_false)
export(equals)
export(is_equivalent_to)
export(is_identical_to)
export(matches)
export(prints_text)
export(throws_error)
export(takes_less_than)
export(library_if_available)
export(MinimalReporter)
export(StopReporter)
export(SummaryReporter)
export(test_dir)
export(source_dir)
export(test_file)
export(test_that)
export(watch)
